.container {
    font-family: 'Inter', sans-serif;
    width: 98.9vw;
    height: 76vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .container span {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 40px;
    font-weight: 900;
    font-size: 24px;
    line-height: 24px;
    color: #152540;
  }
  
  .container form {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    height: 500px;
    width: 600px;

  }
  
  .container form  .inputContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .container form  .inputContainer label {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 8px;
  }
  
  .container form  .inputContainer input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    width: 520px;
    height: 40px;
    border: 1px solid #152540;
    border-radius: 15px;
    margin-bottom: 16px;
    font-size: 15px;
  }
  
  .container form a {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-top: 16px;
    padding-bottom: 16px;
    color: #6d99e6;
  }
  
  .container form .button {
    width: 280px;
    height: 48px;
    background: #152540;
    border-radius: 12px;
    color: #fff;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .container form .button:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  
  .container form .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }
  
  .container form .footer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }
  
  .container form .footer a {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #6d99e6;
  }

  .inputContainer button {
    background-color: #fff;
    border:none;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    margin-left: 500px;
    margin-top: 15px;
  }