.container {
  font-family: 'Inter', sans-serif;
  width: 98.9vw;
  height: 76vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container span {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
  margin-top: 40px;
  font-weight: 900;
  font-size: 24px;
  line-height: 24px;
  color: #152540;
}

.container form {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  height: 500px;
  width: 600px;
  border-radius: 5px
}

.container form .inputContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.container form .inputContainer label {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 8px;
  color: #152540;
}

.container form .inputContainer input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  width: 520px;
  height: 40px;
  border: 1px solid #152540;
  border-radius: 15px;
  margin-bottom: 16px;
  font-size: 15px;
}

.container form a {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #6d99e6;
}

.container form .button {
  border: none;
  background-color: #3d61ff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  display: block;
  width: 200px;
}

.container form .button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #2c4d85;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.container form .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.container form .footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.container form .footer a {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #6d99e6;
}

.inputContainer button {
  background-color: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  margin-left: 500px;
  margin-top: 44px;
}

/* Responsividade */
@media (max-width: 768px) {
  .container form {
      width: 90%;
      height: auto;
      padding: 20px;
  }

  .container form .inputContainer input {
      width: 100%;
  }

  .inputContainer button {
      margin-left: calc(100% - 40px);
      margin-top: 16px;
  }
}

@media (max-width: 480px) {
  .container span {
      font-size: 20px;
      line-height: 22px;
  }

  .container form .inputContainer label,
  .container form .footer p,
  .container form .footer a,
  .container form a {
      font-size: 14px;
      line-height: 16px;
  }

  .container form .inputContainer input {
      height: 35px;
      font-size: 14px;
  }

  .container form .button {
      font-size: 1.2rem;
      width: 150px;
  }

  .inputContainer button {
      font-size: 16px;
      margin-left: calc(100% - 30px);
  }
}
