.doubtsButton {
    padding: 0px 20px 60px 200px;
    display: flex;
    flex-wrap: wrap;
}

.doubtsButton button {
    padding: 15px 50px;
    display: flex;
    align-items: center;
    background-color: #CFDFFB;
    color: #152540;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

.doubtsButton .doubtsButtonText {
    margin-right: 20px;
    text-align: justify;
}

#pcomofunciona {
    font-size: 20px;
    margin-left: 40px;
    margin-top: 35px;
    padding-right: 430px;
}

.toggleButton button.active {
    padding: auto;
}

.toggleButton button.inactive {
    padding: auto;
}