.profileContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  padding: 20px;
  flex-wrap: wrap; /* Permitir que os itens envolvam em telas menores */
  margin-top: 44px;
}

.avatar {
  margin-bottom: 20px;
}

.avatarImg {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 50%;
}

.userInfo {
  text-align: right;
  max-width: 600px; /* Limitar a largura máxima da seção de informações do usuário */
  padding: 0 20px;
  box-sizing: border-box; /* Garantir que o padding seja incluído nas medidas de largura */
}

.userInfo h1 {
  margin-bottom: 10px;
}

.userInfo p {
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.icon {
  margin-right: 20px;
  width: 25px;
  line-height: 5rem;
  padding: 5px;
}

.editButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 150px;  ;
}

.editButton:hover {
  background-color: #0056b3;
}

.upload_form {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: right;
}

.file_input {
  margin-bottom: 10px;
}

.userInfo h4 {
  margin-right: 20vh;
  margin-bottom: 10px;
}

.upload_button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  width: 15vh;
  border-radius: 4px;
  cursor: pointer;
}

.upload_button:hover {
  background-color: #0056b3;
}

.progress_bar {
  width: 70%;
  background-color: #e0e0df;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 10px;
  margin-right: 12vh;
}

.uploaded_image {
  max-width: 400px;
  max-height: 400px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .profileContainer {
      flex-direction: column;
      text-align: center; /* Centralizar texto em telas menores */
  }

  .userInfo {
      text-align: center;
      padding: 0;
  }

  .userInfo p {
      justify-content: left; /* Centralizar ícones em telas menores */
  }

  .icon {
      margin-right: 10px;
  }
}
