.brand{
    margin-left: 30px;
    
}

.navbar{
    background-color: #152540;
    display:flex;
    justify-content: space-between;
    height: 110px;
    align-items: center;
}

.link_list{
    display:flex;
    justify-content: space-around;
    width: 700px;
    list-style-type: none;
}

.link_list a{
    text-decoration: none;
    font-size: 20px;
    color: #f0f0f0;
}

.entrar {
    border: none;
    background-color: #3d61ff;
    padding: 10px 40px;
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    color: #f0f0f0;
}