.titulo{ 
    text-align: center;
}

.tempocertodicas,
.parperfeitodicas,
.aproximacaodicas,
.cruzamentodicas,
.partodicas,
.consideracoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
}

.tempocertodicas h2,
.parperfeitodicas h2,
.aproximacaodicas h2,
.cruzamentodicas h2,
.partodicas h2,
.consideracoes h2 {
    padding-bottom: 15px;
    font-size: 35px;
}

.tempocertodicas p,
.parperfeitodicas p,
.aproximacaodicas p,
.cruzamentodicas p,
.partodicas p,
.consideracoes p {
    padding: 10px 300px;
    text-align: center;
    font-size: 22px;
}

#tempocertomachos,
#parperfeitoinstrucao,
#aproximacaoinstrucao,
#cruzamentoinstrucao,
#partoinstrucao,
#consideracoesfin {
    padding-bottom: 20px;
    font-size: 22px;
}

/* Responsividade */
@media (max-width: 768px) {
    .tempocertodicas p,
    .parperfeitodicas p,
    .aproximacaodicas p,
    .cruzamentodicas p,
    .partodicas p,
    .consideracoes p {
        padding: 10px 50px;
    }

    .tempocertodicas h2,
    .parperfeitodicas h2,
    .aproximacaodicas h2,
    .cruzamentodicas h2,
    .partodicas h2,
    .consideracoes h2 {
        font-size: 28px;
    }

    #tempocertomachos,
    #parperfeitoinstrucao,
    #aproximacaoinstrucao,
    #cruzamentoinstrucao,
    #partoinstrucao,
    #consideracoesfin {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .tempocertodicas p,
    .parperfeitodicas p,
    .aproximacaodicas p,
    .cruzamentodicas p,
    .partodicas p,
    .consideracoes p {
        padding: 10px 20px;
        font-size: 18px;
    }

    .tempocertodicas h2,
    .parperfeitodicas h2,
    .aproximacaodicas h2,
    .cruzamentodicas h2,
    .partodicas h2,
    .consideracoes h2 {
        font-size: 24px;
    }

    #tempocertomachos,
    #parperfeitoinstrucao,
    #aproximacaoinstrucao,
    #cruzamentoinstrucao,
    #partoinstrucao,
    #consideracoesfin {
        font-size: 18px;
    }
}
