body.light {
  --bg-color: white;
  --text-color: black;
}

body.dark {
  --bg-color: #222 ;
  --text-color: white;
  --h1-color: #ffffff; 
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

body.dark h1 {
  color: white;
}

body.dark h2 {
  color: white;
}

body.dark h3 {
  color: white;
}