.titulo {
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding: 70px 0;
}

h1, h2 {
    color: #152540;
}

.objetivos, .facil, .vantagens {
    display: flex;
    align-items: center;
    padding: 45px 300px;
}

.objetivos img, .facil img, .vantagens img {
    width: 250px;
    height: auto;
}

.txtobjetivos, .txtfacil, .txtvantagens {
    text-align: left;
    padding-left: 20px;
}

.txtobjetivos h2, .txtfacil h2, .txtvantagens h2 {
    padding-bottom: 15px;
    font-size: 35px;
}

.txtobjetivos p, .txtfacil p, .txtvantagens p {
    font-size: 22px;
    text-align: justify;
}

.equipe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 70px;
}

.member {
    width: 280px;
    margin: 30px;
    padding: 20px;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 5px;
    font-weight: bold;
}

.member img {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.member h2 {
    margin: 0;
    color: #152540;
}

.member p {
    margin: 4px 0;
    color: #152540;
}

@media (max-width: 1024px) {
    .objetivos, .facil, .vantagens {
        padding: 40px 100px;
    }
    
    .txtobjetivos, .txtfacil, .txtvantagens {
        padding: 0 20px;
    }
}

@media (max-width: 768px) {
    .objetivos, .facil, .vantagens {
        padding: 20px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .objetivos img, .facil img, .vantagens img {
        width: 100%;
        max-width: 300px;
        margin-bottom: 20px;
    }

    .txtobjetivos, .txtfacil, .txtvantagens {
        padding: 0;
        text-align: center;
    }

    .txtobjetivos h2, .txtfacil h2, .txtvantagens h2 {
        font-size: 28px;
    }

    .txtobjetivos p, .txtfacil p, .txtvantagens p {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .titulo {
        font-size: 20px;
        padding: 50px 0;
    }

    .txtobjetivos h2, .txtfacil h2, .txtvantagens h2 {
        font-size: 24px;
    }

    .txtobjetivos p, .txtfacil p, .txtvantagens p {
        font-size: 16px;
    }
}
